<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <h3 style="display: flex; align-items: center; gap: 15px;">
    Witaj {{ currentUser }}
    <ion-avatar>
      <img alt="Awatar użytkownika" src="{{ avatar }}" />
    </ion-avatar>
  </h3>

  <ion-item>
    Adres email, na który dokonałeś rejestracji konta: <strong>{{ email }}</strong>.
  </ion-item>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Zmiana awatara
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Input do wyboru pliku -->
      <ion-item>
        <input 
          type="file" 
          (change)="onFileSelected($event)" 
          accept="image/*"
          [disabled]="isUploading"
          class="ion-margin-vertical">
      </ion-item>

      <!-- Podgląd wybranego zdjęcia -->
      <ion-item *ngIf="previewUrl">
        <img [src]="previewUrl" alt="Podgląd awatara" style="max-width: 200px; margin: 10px auto;">
      </ion-item>

      <!-- Komunikat o błędzie
      <ion-item *ngIf="error" color="danger">
        <ion-text color="danger">{{ error }}</ion-text>
      </ion-item> -->

      <!-- Przycisk do przesłania -->
      <ion-button 
        expand="block" 
        (click)="uploadAvatar()" 
        [disabled]="!selectedFile || isUploading"
        class="ion-margin-vertical">
        <ion-spinner *ngIf="isUploading"></ion-spinner>
        <span *ngIf="!isUploading">Prześlij awatar</span>
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Dodaj grę do listy ulubionych</ion-card-title>
    </ion-card-header>

    <ion-card-content>
    
      <form (ngSubmit)="dodajGreDoUlubionych(ulubiona)" #registerForm="ngForm">
        <ion-item>
          <ion-input placeholder="Wpisz nazwę gry" name="ulubiona" [(ngModel)]="ulubiona" required></ion-input>
        </ion-item>

        <ion-button type="submit" [disabled]="!registerForm.valid">Dodaj</ion-button>
      </form>
   </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Twoje ulubione gry</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let gra of ulubione">
          <form (ngSubmit)="usunGreZUlubionych(gra)" #registerForm="ngForm">
            <ion-input
              type="text"
              name="gra"
              [value]="gra"
              readonly
              required>
            </ion-input>
            <ion-button type="submit" [disabled]="!registerForm.valid">
              Usuń z ulubionych
            </ion-button>
          </form>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  
</ion-content>
