<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  

  <h3> Witaj {{ currentUser }} 
    <span class="divider"></span>
    <ion-icon name="person-circle-outline"></ion-icon>
  </h3>
  <P>
    poniżej znajdziesz spotkania zaplanowane przez Ciebie
  </P>
  <P>
    oraz te do kórych się zapisałeś
  </P>



</ion-content>
