/*ion-col {
    background-color: #135d54;
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
}*/

.divider {
    padding: 10px;
}

.data {
    font-weight: 500;
    margin-left: 5px;
    margin-right: 5px;
    color: black;
}

.listgames {
    margin-inline: 15px;
}

p {
    margin-top: 5px;
}