<ion-header [translucent]="true">
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-title>Timer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Ustawienia czasu rozgrywki
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <!-- przełączniki wyboru -->
          <ion-col size="12" size-md="4">
            <ion-item>
              <ion-label>Odliczanie czasu tury</ion-label>
              <ion-toggle [(ngModel)]="countdownTurnEnabled"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label>Odliczanie czasu ogólnego</ion-label>
              <ion-toggle [(ngModel)]="countdownGameEnabled"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label>Stoper</ion-label>
              <ion-toggle [(ngModel)]="stopwatchEnabled"></ion-toggle>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-row> <!-- ustawienia czasu trwania tury/rozgrywki -->
              <ion-col>
                <ion-card>
                  <ion-card-content>
                    <ion-label>
                      Czas trwania rozgrywki (minuty)
                    </ion-label>
                    <ion-input type="number" [(ngModel)]="gameTimeInput" class="timeValue"></ion-input>
                  </ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col>
                <ion-card>
                  <ion-card-content>
                    <ion-label>Czas trwania tury (sekundy)</ion-label>
                    <ion-input type="number" [(ngModel)]="turnTimeInput" class="timeValue"></ion-input>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col></ion-col>

              <ion-col size="12" size-lg="4">
                <ion-button expand="block" (click)="applyTimeSettings()" color="secondary">Zastosuj ustawienia
                  czasu</ion-button>
              </ion-col>
              <ion-col></ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Timer
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <!-- Przyciski sterujące przebiegiem rozgrywki -->
              <ion-row>
                <ion-col size="3">
                  <ion-button expand="block" (click)="startGame()" [disabled]="isGameRunning || isPaused"class="startButton">Start</ion-button>
                </ion-col>
                <ion-col size="3">
                  <ion-button expand="block" (click)="pauseGame()" [disabled]="!isGameRunning || isPaused"class="buttons">Pauza</ion-button>
                </ion-col>
                <ion-col size="3">
                  <ion-button expand="block" (click)="resumeGame()" [disabled]="!isPaused" class="buttons">Wznów</ion-button>
                </ion-col>
                <ion-col size="3">
                  <ion-button expand="block" (click)="resetGame()" color="danger" class="buttons">Reset</ion-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" size-md="8">
                  <!-- Formularz dodawania gracza -->
                  <ion-item>
                    <ion-label position="floating">Nick Gracza</ion-label>
                    <ion-input [(ngModel)]="newPlayerName"></ion-input>
                  </ion-item>
                  <ion-button (click)="addPlayer()" color="secondary">Dodaj Gracza</ion-button>
                </ion-col>
                <ion-col size="12" size-md="4" style="display: flex; justify-content: center; align-items: center;">
                  <!-- Przycisk zmiany tury -->
                  <ion-button (click)="nextTurn()" [disabled]="!isGameRunning" class="nextTurnButton">
                    <ion-icon name="hourglass-outline"></ion-icon>
                    Kolejny gracz
                  </ion-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <!-- Lista graczy z czasami -->

                  <ion-list>
                    <ion-item *ngFor="let player of players; let i = index"
                      [class.active-player]="currentPlayerIndex === i">
                      <ion-label>
                        <ion-title>{{ player.name }}</ion-title>

                        <div *ngIf="countdownTurnEnabled">
                          Czas tury: {{ formatTime(player.remainingTurnTime) }}
                        </div>

                        <div *ngIf="countdownGameEnabled">
                          Czas ogólny: {{ formatTime(player.remainingGameTime) }}
                        </div>

                        <div *ngIf="stopwatchEnabled">
                          Stoper: {{ formatTime(player.stopwatchTime) }}
                        </div>

                      </ion-label>
                      <ion-button color="danger" fill="clear" (click)="removePlayer(i)">
                        Usuń
                      </ion-button>
                    </ion-item>
                  </ion-list>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>

      </ion-col>
      
    </ion-row>
  </ion-grid>

</ion-content>

