<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
 
  <h3>Ustawienia aplikacji</h3>

  <p>Opcjonalna podstrona z ustawieniami aplikacji, 
    np. tryb ciemny, tryb jasny, wielkość czcionek, 
    może zgody na otrzymywanie powiadomień.</p>

  <p>Jesteś zalogowany jako {{ currentUser }}</p>

  <p>Zalogowany {{ log_in }}</p>



</ion-content>