<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Rejestracja</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Zarejestruj się</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>Podaj nazwę użytkownika, jakiej chcesz używać i hasło.</ion-item>  
    
      <form (ngSubmit)="zarejestrujUzytkownika()" #registerForm="ngForm">
        <ion-item>
          <ion-input label="Nazwa" placeholder="wpisz nazwę" name="nazwa" [(ngModel)]="nazwa" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="e-mail" placeholder="podaj e-mail" type="email" name="email" [(ngModel)]="email" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Hasło" placeholder="podaj hasło" type="password" name="haslo" [(ngModel)]="haslo" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Powtórz hasło" placeholder="powtórz hasło" type="password" name="potwierdzenie" [(ngModel)]="potwierdzenie" required></ion-input>
        </ion-item>

        <ion-button type="submit" [disabled]="!registerForm.valid">Zarejestruj</ion-button>
        <ion-button (click)="logowanie()">Przejdź do logowania</ion-button>
      </form>
   </ion-card-content>
  </ion-card>
</ion-content>
