<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Logowanie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Zaloguj się do aplikacji</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>Podaj nazwę użytkownika i hasło</ion-item>
      <form (ngSubmit)="zalogujUzytkownika()" #registerForm="ngForm">
        <ion-item>
          <ion-input label="Nazwa" placeholder="wpisz nazwę" name="nazwa" [(ngModel)]="nazwa" autofocus required></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-input label="Hasło" placeholder="podaj hasło" [type]="showPassword ? 'text' : 'password'" name="haslo"
            [(ngModel)]="haslo" required>
          </ion-input>
          <ion-button fill="clear" (click)="togglePasswordVisibility()">
            <ion-icon [name]="showPassword ? 'eye-off' : 'eye'"></ion-icon>
          </ion-button>
        </ion-item>
        
        <ion-button type="submit" [disabled]="!registerForm.valid">Zaloguj</ion-button>

        <ion-button (click)="rejestracja()">Zarejestruj się</ion-button>

        <ion-button (click)="zapomnialem()">Nie pamiętam hasła</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
