<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="dices">
      <ion-icon aria-hidden="true" name="dice-outline"></ion-icon>
      <ion-label>Kości</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="timer">
      <ion-icon aria-hidden="true" name="stopwatch-outline"></ion-icon>
      <ion-label>Timer</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cards">
      <ion-icon aria-hidden="true" name="albums-outline"></ion-icon>
      <ion-label>Karty</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>