<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="dices">
      <ion-icon aria-hidden="true" src="/assets/icon/kostkiIconB.svg"></ion-icon>
      <ion-label>Kości</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="timer">
      <ion-icon aria-hidden="true" name="stopwatch-outline"></ion-icon>
      <ion-label>Timer</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="future">
      <ion-icon aria-hidden="true" name="albums-outline"></ion-icon>
      <ion-label>Future</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>