<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

<h3>Witamy w aplikacji Board Games</h3><br>

<ion-card color="light">
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <p>Dostęp do wszystkich opcji odywa sie za pomocą menu bocznego,</p>
          <ion-img src="assets/images/Menu.png" class="info_image" alt="Menu boczne duży ekran"></ion-img>
        </ion-col>
        <ion-col>
          <p>które w przypadku wersji mobilnej lub niskiej rozdzielczości 
          wywoływane jest przyciskiem znajdującym się w lewym górnym rogu</p>
          <ion-img src="assets/images/MenuMButton.png" class="info_image_small" alt="Przycisk wywołania menu bocznego"></ion-img>
          <ion-img src="assets/images/MenuMobile.png" class="info_image" alt="Menu boczne, wersja mobilna"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

<ion-item-divider></ion-item-divider>
<h4 class="tytul">Zasadniczym przeznaczeniem aplikacji jest ułatwienie miłośnikom gier planszowych organizacji spotkań.</h4><br>

<ion-card color="light">
  <ion-card-header>
    <ion-card-title>
      Wyświetlenie wszystkich spotkań
    </ion-card-title>
    <ion-card-subtitle>
      Pzegląd wszystkich wydarzeń umożliwia pierwsza zakładka.
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <p>Wydarzenia można filtrować po nazwie, miejscu i dacie spotkania.<br>
            Menu do filtrowania wywołyane jest przyciskiem w prawym górnym rogu ekranu.</p><br>
          <ion-img src="assets/images/AllEventsFiltry.png" class="info_image_big" alt="Filtry">
          </ion-img>
          <ion-img src="assets/images/AllEvents_.png" class="info_image_big" alt="Wszystkie wydarzenia">
          </ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>

    <p>Przy każdej pozycji na liście spotkań znajduje się przycisk umożliwiający zapisanie się do wydarzenia.</p>
    <p>Jeżeli przycisk jest nieaktywny, to znaczy że albo jesteś organizatorem albo już się zapisałeś na wydarzenie.</p>
              
    </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>
      Dodawanie nowego wydarzenia
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <p>W prawym dolnym rogu znajduje się przycisk umożliwiający dodanie własnego spotkania.</p>      
          <ion-img src="assets/images/AddEvent.png" alt="Przycisk dodaj wydarzenie" style="max-width: 150px;">
          </ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p>Po jego kliknięciu wywoływany jest formularz umożliwiająy dodanie nowego spotkania:</p>
          <ion-img src="assets/images/AddEvent2.png" alt="Formularz nowego wydarzenia" style="max-width:600px;">
          </ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
<ion-item-divider></ion-item-divider>

<ion-card>
  <ion-card-header>

  </ion-card-header>
  <ion-card-content>

  </ion-card-content>

</ion-card>
<ion-grid>
  <ion-row>
    <ion-col>

    </ion-col>
  </ion-row>
</ion-grid>



</ion-content>
