<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

<h3>Witamy w aplikacji Board Games / Planszówki (v.1.2)</h3><br>

<ion-card color="light">
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="6">

          <p>
            Aplikacja powstała w ramach zaliczenia studiów podyplomowych o kierunku tworzenie aplikacji internetowych i mobilnych 
            na <strong>Uniwersytecie WSB MERITO</strong>
          <p>
         
          <ul style="list-style-type:none;">
            <li><strong>Twórcy aplikacji:</strong></li>
            <ul style="list-style-type:none;">
              <li>Przemysław WACH</li>
              <li>Marek LUBKIEWICZ</li>
              
            </ul>
          </ul>
        </ion-col>
        <ion-col size="12" size-md="6">
          <p>
            Zasadniczym przeznaczeniem aplikacji jest ułatwienie miłośnikom gier planszowych organizacji spotkań.
            Zarówno organizator jak również osoby zaisujące się wskazują preferowaną grę, co stanowić będzie ułatwienie przy wyborze gry.
          </p>
          <p>
            W aplikacji zaimplementowano ponadto dostęp do bazy gier oraz moduł ułatwiajacy rozgrywkę.
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

<ion-accordion-group expand="inset">
  <ion-accordion value="first">
    <ion-item slot="header" color="light">
      <ion-label>Dostęp do podstron</ion-label>
    </ion-item>
  <div class="ion-padding" slot="content">
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-md="6">
            <p>Dostęp do wszystkich opcji odywa sie za pomocą menu bocznego,</p>
            <ion-img src="assets/images/Menu.png" class="info_image" alt="Menu boczne duży ekran"></ion-img>
          </ion-col>
          <ion-col size="12" size-md="6">
            <p>które w przypadku wersji mobilnej lub niskiej rozdzielczości 
            wywoływane jest przyciskiem znajdującym się w lewym górnym rogu</p>
            <ion-img src="assets/images/MenuMButton.png" class="info_image_small" alt="Przycisk wywołania menu bocznego"></ion-img>
            <ion-img src="assets/images/MenuMobile.png" class="info_image" alt="Menu boczne, wersja mobilna"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-accordion>

  <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Wyświetlenie wszystkich spotkań</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
    
      <ion-item>
        Na pierwszej stronie wyświetlome są wszystkie organizowane spotkania.
      </ion-item>
        
      <ion-grid>
        <ion-row>
          <ion-col>
            <p>Wydarzenia można filtrować po nazwie, miejscu, grach (w tym ulubionych) i dacie spotkania.<br>
              Menu do filtrowania wywołyane jest przyciskiem w prawym górnym rogu ekranu.</p><br>
            <ion-img src="assets/images/AllEventsFiltry.png" class="info_image_big" alt="Filtry">
            </ion-img>
            <ion-img src="assets/images/AllEvents_.png" class="info_image_big" alt="Wszystkie wydarzenia">
            </ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>

      <p>Przy każdej pozycji na liście spotkań znajduje się przycisk umożliwiający zapisanie się do wydarzenia.</p>
      <p>Jeżeli przycisk jest nieaktywny, to znaczy że albo jesteś organizatorem albo już się zapisałeś na wydarzenie.</p>
    </div>
  </ion-accordion>

  <ion-accordion value="third">
    <ion-item slot="header" color="light">
      <ion-label>Dodawanie nowego wydarzenia</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-grid>
        <ion-row>
          <ion-col>
            <p>W prawym dolnym rogu znajduje się przycisk umożliwiający dodanie własnego spotkania.</p>      
            <ion-img src="assets/images/AddEvent.png" alt="Przycisk dodaj wydarzenie" style="max-width: 150px;">
            </ion-img>
            <p>Spotkania można dodawać zarówn ze strony z wszystkimi spotkaniami jak i ze strony zawierającej spotkania zaplanowane przez użytkownika</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Po jego kliknięciu wywoływany jest formularz umożliwiająy dodanie nowego spotkania:</p>
            <ion-img src="assets/images/AddEvent2.png" alt="Formularz nowego wydarzenia" style="max-width:600px;">
            </ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-accordion>

  <ion-accordion value="fourth">
    <ion-item slot="header" color="light">
      <ion-label>Zarządzanie spotkaniami</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">

    <ion-item>
      Strona Twoje spotkania umożliwia zarządzanie spotkaniami zaplanowanymi przez użytkownika oraz tymi na które się zapisał.
    </ion-item>

      <ion-grid>
        <ion-row>
          <ion-col>
            <p>
              Za pomocą dolnego palnelu można przełączać się pomiędzy zakładkami z zadaniami organizowanymi przez użytkownika 
              oraz tymi na które się zapisał jako uczestnik.
            </p>
            <ion-img src="assets/images/Tabs.png" alt="Zakładki dolne" style="max-width: 700px;">
              </ion-img>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" size-lg="6"> 
            <p></p>  
            <p>
              W zakładce zaplanowane spotkania pokazane są spotkania organizowane przez użytkownika.
            </p>
            <p>
              Organizator ma możliwość modyfikacji lub całkowitego usunięcia spotkania.
            </p>          
            <ion-img src="assets/images/ZaplanowaneSpotkania.png" alt="Zakładka zaplanowane spotkania" style="max-width: 600px;">
            </ion-img>
          </ion-col>
          <ion-col size="12" size-lg="6">
            <p>
              W zakładce Twoje zapisy znajdują się spotkania, w stosunku do których użytkownik zadeklarował swój udział.
            </p>
            <p>
              Możliwa jest oczywiście rezygnacja z udziału w spotkaniu.
            </p>
            <ion-img src="assets/images/TwojeZapisy.png" alt="Zakładka Twoje zapisy" style="max-width: 600px;">
            </ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-accordion>

  <ion-accordion value="fifth">
    <ion-item slot="header" color="light">
      <ion-label>Moduł gier</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-item>
        Ta część aplikacji stanowi rodzaj przybornika dla graczy.
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <p>Pierwsza część umożliwia użytkonikom dostęp do bazy gier i zapoznianie z ich charakterystyką.</p>
            <p>Baza umożliwia przeszukiwanie gier po tytule.</p>
            <ion-img src="assets/images/BazaGier1.png" alt="Baza gier wyszukiwanie" style="max-width: 600px;">
            </ion-img>
            <ion-img src="assets/images/BazaGier3.png" alt="Baza gier przykład" style="max-width: 600px;">
            </ion-img>
          </ion-col>
        </ion-row>
        <ion-item></ion-item>
        <ion-row>
          <ion-col>
            <p>Druga strona zawiera elementy ułatwiające rozgywkę: symulator rzutów kośćmi oraz timer.</p>
            <p>Przejście pomiędzy elementami odbywa się poprzez panel dolny.</p>
            <ion-img src="assets/images/tools.png" alt="Zakładka dolna od narzędzi wspomagających rozgrywwkę" style="max-width: 300px;">
            </ion-img>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-item>
            <ion-col> 
              <p>Moduł kości umożliwia zasymulowanie rzutu wybranymi rodzajami kości do gry.</p>
              <p>Gracz wybiera ilość kości każdego typu następnie po naciśnięciu przycisku następuje symulacja rzutu.</p>
              <ion-img src="assets/images/kosci.png" alt="Moduł rzutu kośćmi" style="max-width: 600px;">
              </ion-img>   
            </ion-col>
          </ion-item>
        </ion-row>
        <ion-row>
            <ion-col>
            <p>Moduł timera służy do odliczania czasu przydzielonego dla poszczególnych graczy i/lub zliczania czasu zużytego na grę.</p>
            <ion-img src="assets/images/Timer_1.png" alt="Moduł rzutu kośćmi" style="max-width: 600px;"></ion-img>
            <p>Za pomocą przełączników określamy jaki czas ma być mierzony (czas na całą grę, czas na turę, tradycyjny stoper lub ich kombinacje).</p>
            <p>Ustawiamy czas na rozgrywkę w minutach oraz czas na jedną turę w sekudnach.</p>
            <ion-img src="assets/images/Timer_settings.png" alt="Moduł rzutu kośćmi ustawienia" style="max-width: 600px;"></ion-img>
            <p>Wpisujemy nazwy/nicki graczy w kolejnościu ruchu.</p>
            <p>Po wpisaniu nazw/nicków graczy przyciskiem START uruchamiamy odliczanie czasu.</p>
            <p>Zmiany gracza dla którego odliczany jest czas dokonujemy za pomocą przycisku KOLEJNY GRACZ.</p>
            <p>Gracz, którego runda jest aktywna, jest podświetlany kolorem zielonym.</p>
            <ion-img src="assets/images/Timer2.png" alt="Moduł rzutu kośćmi - rozgrywka" style="max-width: 600px;"></ion-img>
            <p>Jeżeli nie nastąpi przełączenie gracza przed upływem czasu na rundę, pojawi się komunikat o upłynięciu czasu.</p>
            <p>Po jego zamknięciu przyciskiem OK, nastąpi przełączenie tury na kolejnego gracza. Przy nazwie gracza pojawia się znacznik informujący ile razy przekroczył czas.</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" size-lg="6">
            <ion-img src="assets/images/endTurn.png" alt="Alert - zakończenie czasu na rundę" style="max-width: 400px;"></ion-img>
          </ion-col>
          <ion-col size="12" size-lg="6">
            <ion-img src="assets/images/Timer3.png" alt="Znacznik przekroczenia czasu" style="max-width: 300px;"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-accordion>
</ion-accordion-group>



</ion-content>
