<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{title}}
      <!--<span class="divider"></span>
      <ion-icon name="person-circle-outline"></ion-icon>
      <span class="user-name">{{ currentUser }}</span>-->
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">

  <h3>Miejsce do wyświetlenia wszystkich spotkań </h3>

  <p>Będzie możliwość filtrowania spotkań po miejscu, nazwie i dacie</p>


  <!-- Modal wyświettlający listę zapisanych graczy -->
  <ion-modal [isOpen]="isModalOpen" (willDismiss)="closeModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Zapisani gracze</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeModal()">Zamknij</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item *ngFor="let player of currentPlayers">
            {{ player }}
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>


  <!-- Modal do filtrowania po dacie -->
  <ion-modal [isOpen]="isDateFilterModalOpen" (willDismiss)="closeDateFilterModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Filtruj po dacie</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeDateFilterModal()">Zamknij</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-datetime presentation="date" [firstDayOfWeek]="1" displayFormat="DD.MM.YYYY" placeholder="Wybierz datę"
          [(ngModel)]=" filter.date" (ionChange)="applyFilters()">
        </ion-datetime>
        <ion-button (click)="applyDateFilter()">Zastosuj</ion-button>
        <ion-button (click)="resetDateFilter()">Wyczyść filtr</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>