.user-name {
    font-size: 0.8em;
    font-weight: 400;
    color: var(--ion-color-medium);
}

.divider {
    padding: 10px;
}

.data {
    font-weight: 500;
    margin-left: 5px;
    margin-right: 5px;
    color: black;
}

.listgames {
    margin-inline: 15px;
}

p {
    margin-top: 5px;
}

.custom-fab {
    --border-radius: 5px;
}