.user-name {
    font-size: 0.8em;
    font-weight: 400;
    color: var(--ion-color-medium);
}

.divider {
    padding: 10px;
}

.data {
    font-weight: 500;
    margin-left: 5px;
    margin-right: 5px;
    color: black;
}

.listgames {
    margin-inline: 15px;
}

p {
    margin-top: 5px;
}

ion-button[slot='fixed'] {
    top: 15%;
    right: 20px;
}

.tooltip {
    position: absolute;
    bottom: 100%;
    left: 100%;
    transform: translateX(-50%);
    background-color: #ffca22;
    color: black;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
}

div:hover .tooltip {
    opacity: 1;
    visibility: visible;
}