.user-name {
    font-size: 0.8em;
    font-weight: 400;
    color: var(--ion-color-medium);
}

.divider {
    padding: 10px;
}

.data {
    font-weight: 500;
    margin-left: 5px;
    margin-right: 5px;
    color: black;
}

.listgames {
    margin-inline: 15px;
}

p {
    margin-top: 5px;
}

ion-fab-button {
    --background: #2c630f;
    --background-activated: #7ec959;
    --background-hover: #79ff37;
    --border-radius: 15px;
    --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

ion-fab {
    margin-bottom: 20px;
    margin-right: 10%;
}